<app-navbar></app-navbar>

<div class="fullscreen" *ngIf="house">

    <div class="details">
        <h1 class="header name"><span>{{house.name}}</span></h1>
        <hr>
        <div>
            <h1 class="header">Region: <span>{{house.region}}</span></h1>
        </div>
        <div>
            <h2 class="header">Coat of Arms: <span>{{house.coatOfArms}}</span></h2>
            <h2 class="header">Words: <span>{{house.words}}</span></h2>
            <h2 class="header">Titles: <span>{{house.titles}}</span></h2>
            <h2 class="header">Seats: <span>{{house.seats}}</span></h2>
            <h2 class="header">Current Lord: <span><a
                        [routerLink]="[ '/character', house.currentLord ]">{{currentLord.name}}</a></span></h2>
            <h2 class="header">Overlord: <span class="url"
                    (click)="chargeOther(house.overlord)">{{overlord.name}}</span> </h2>
            <h2 class="header">Founded: <span>{{house.founded}}</span></h2>
            <h2 class="header">Founder: <span><a
                        [routerLink]="[ '/character', house.founder ]">{{founder.name}}</a></span></h2>
            <h2 class="header">AncestralWeapons: <span>{{house.ancestralWeapons}}</span></h2>
        </div>
    </div>
    <div>
        <button mat-button class="btn-back animated fadeIn slow" routerLink="/list/houses">
            Back to lists
        </button>
    </div>


</div>