.tab_body {
    padding: 1%;
}

table {
    width: 100%;
}

.mat-form-field {
    width: 25%;
}

::ng-deep.mat-form-field-underline,
::ng-deep.mat-form-field-ripple {
    background-color: black !important;
    color: black;
}
::placeholder,
mat-label {
    color: black;
}

td,
th {
    width: 25%;
}

mat-icon {
    color: cyan;
    cursor: pointer;
}
mat-icon:hover {
    color: darkorange;
    cursor: pointer;
}